<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/admin/layout/adminlayout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="context">

    <table class="table customers" border="2">
        <thead>
        <tr>
            <th>Name</th>
            <th>Password</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="auth:${authorizations}">
            <td th:text="${auth.name}"></td>
            <td th:text="${auth.password}"></td>
            <td th:text="${auth.email}"></td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>