<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--layout:decorate="/admin/layout/adminlayout">-->
<!--<head>-->
<!--<meta charset="UTF-8">-->
<!--<title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--<div layout:fragment="context"></div>-->

<!--<form action="#" th:action="@{shoppingcart}" th:object="${shopping_cart}" method="post">-->
<!--<div class="tmInput">-->
<!--<label for="id">Customer ID</label>-->
<!--<input type="number" th:field="*{customer_id}"-->
<!--class="form-control" name="" id="id" aria-describedby="helpId" placeholder="">-->
<!--</div>-->
<!--<div class="tmInput">-->
<!--<label for="name">Name</label>-->
<!--<input type="text" th:field="*{name}"-->
<!--class="form-control" name="" id="name" aria-describedby="helpId" placeholder="">-->
<!--</div>-->
<!--<div class="tmInput">-->
<!--<label for="price">Price</label>-->
<!--<input type="number" th:field="*{price}"-->
<!--class="form-control" name="" id="price" aria-describedby="helpId" placeholder="">-->
<!--</div>-->
<!--<div class="tmInput">-->
<!--<label for="qty">Quantity</label>-->
<!--<input type="number" th:field="*{quantity}"-->
<!--class="form-control" name="" id="qty" aria-describedby="helpId" placeholder="">-->
<!--</div>-->
<!--<div class="tmInput">-->
<!--<label for="cpdate">Confirm Purchase Date</label>-->
<!--<input type="date" th:field="*{confirm_purchase_date}"-->
<!--class="form-control" name="" id="cpdate" aria-describedby="helpId" placeholder="">-->
<!--</div>-->
<!--<br/>-->
<!--<button type="submit" class="btn btn-primary">Submit</button>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->