<!DOCTYPE html>
<html lang="en" layout:decorate="/layout/adminLayout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product list</title>
</head>
<body>
<div layout:fragment="context">

    <br/>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Category Table
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive table-bordered">
                        <table class="table table-hover table-striped ">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Category name</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="c:${categoryList}">
                                <td th:text="${c.catId}"></td>
                                <td th:text="${c.catName}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- /.table-responsive -->
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->


</div>
</body>
</html>