<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/adminLayout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="context">

    <br/>
    <form role="form" action="#" th:object="${category}" th:action="@{/admin/add/category}" method="post">

        <input type="hidden" th:field="*{catId}"/>

        <div class="form-group">
            <label for="atype">category name</label>
            <input type="text" th:field="*{catName}"
                   class="form-control" name="" id="atype" aria-describedby="helpId"/>
        </div>
        <br/>
        <button type="submit" class="btn btn-default">Submit</button>

    </form>

</div>
</body>
</html>