<!DOCTYPE html>
<html lang="en" layout:decorate="/layout/adminLayout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="context">

    <br/>
    <form action="#" method="post" role="form" th:action="@{/admin/add/category}" th:object="${category}">

        <input th:field="*{catId}" type="hidden"/>

        <div class="form-group">
            <label for="atype">category name</label>
            <input aria-describedby="helpId" class="form-control"
                   id="atype" name="" th:field="*{catName}" type="text"/>
        </div>
        <br/>
        <button class="btn btn-default" type="submit">Submit</button>

    </form>

</div>
</body>
</html>