<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/layout/adminlayout">
<head>
    <meta charset="ISO-8859-1"/>
    <title th:text="${category.id < 0 ? 'Create Category' : 'Edit Category'}"></title>
</head>
<body>

<div layout:fragment="custom-content">

    <form th:object="${category}" th:action="@{/admin/saveCategory}" method="post">

        <input th:field="*{id}" type="hidden"/>

        <label>Category Name</label>
        <input type="text" th:field="*{name}"/>

        <button><a type="submit" th:text="${category.id < 0 ? 'Create' : 'Update'}"/></button>
        <a name="cancel" class="btn btn-primary" href="#"  role="button">Cancel</a>

    </form>

</div>

</body>
</html>