<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/layout/adminlayout">
<head>
    <meta charset="ISO-8859-1"/>
    <title th:text="${product.id == -1 ? 'Create Product' : 'Edit Product'}"></title>
</head>
<body>

<div layout:fragment="custom-content">

    <form th:object="${product}" th:action="@{/admin/saveProduct}" method="post" enctype="multipart/form-data">

        <input th:field="*{id}" type="hidden"/>

        <div class="form-group">
            <label for="pcolumn">Brand Name</label>
            <input name="pcolumn" id="pcolumn" type="text" readonly="readonly" th:field="*{productColumns}"/>
        </div>

        <div class="form-group">
            <label for="brand">Brand Name</label>
            <input name="brand" id="brand" type="text" th:field="*{brand}"/>
        </div>

        <div class="form-group">
            <label for="series">Series</label>
            <input name="series" id="series" type="text" th:field="*{series}"/>
        </div>

        <div class="form-group">
            <label for="alsocall">Another name</label>
            <input name="alsocall" id="alsocall" type="text" th:field="*{alsoCalled}"/>
        </div>

        <div class="form-group">
            <label for="imgFile1">Front Image</label>
            <input name="imgFile1" id="imgFile1" type="file" name="imageFile1" />
        </div>

        <div class="form-group">
            <label for="imgFile2">Front Image</label>
            <input name="imgFile2" id="imgFile2" type="file" name="imageFile1" />
        </div>

        <div class="form-group">
            <label for="imgFile3">Front Image</label>
            <input name="imgFile3" id="imgFile3" type="file" name="imageFile1" />
        </div>

        <button><a type="submit" th:text="${product.id == -1 ? 'Create' : 'Update'}"/></button>
        <a name="cancel" class="btn btn-primary" href="#"  role="button">Cancel</a>

    </form>

<!--    <form>

    </form>-->

</div>

</body>
</html>