<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="admin/layout/adminlayout">
<head>
<!-- <meta charset="ISO-8859-1"/>-->
<title th:text="${brand.id} == -1 ? 'Create Brand' : 'Edit Brand' "></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<div layout:fragment="admin-content">
<h2>Brand Form</h2>
		<div class="container">

			<form th:object="${brand}" th:action="@{/admin/saveBrand}"
				method="post">

				<input th:field="*{id}" type="hidden" />

				<div class="form-group">
					<label>Brand Name</label> <input class="form-control"
						type="text" th:field="*{name}" />

					<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
						class="error-message"></p>
				</div>

				<button class="btn btn-primary" type="submit"
					th:text="${brand.id} == -1 ? 'Create' : 'Update'"></button>
				<a class="btn btn-primary" role="button"
					th:href="@{/admin/brandlist}">Cancel</a>

			</form>
		</div>

		<script>
			$(document).ready(function() {
				$('input').click(function(event) {
					$(this).next('small.error-message').hide();
				});
			});
		</script>

	</div>


</body>
</html>