<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/admin/layout/adminlayout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="context">

    <table class="table customers" border="2">
        <thead>
        <tr>
            <th>Expended Date</th>
            <th>Authorized Person Name</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Remark</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="exp : ${expends}">
            <td th:text="${exp.expended_date}"></td>
            <td th:text="${exp.authorized_person_name}"></td>
            <td th:text="${exp.description}"></td>
            <td th:text="${exp.amount}"></td>
            <td th:text="${exp.remark}"></td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>