<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="admin/layout/adminlayout">
<head>
<meta charset="ISO-8859-1" />
<title>Category List</title>
</head>
<body>

	<div layout:fragment="admin-content">
		<h2>Category List</h2>

			<div class="row">
				<table id="myTable" class="table table-striped ">
					<tr>
						<th>Name</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
					<tr th:each="cat:${categoryList}">
						<td th:text="${cat.name}"></td>
						<td>
						
						<span
							th:if="${cat.name == 'Smartphone' OR cat.name == 'Tablet' OR cat.name == 'Laptop' OR 
							cat.name == 'Accessory' OR cat.name == 'iPad' OR cat.name == 'Smartphone Spares'}">
								<a class="avoid-clicks" >
								 <span class="glyphicon glyphicon-edit"></span></a>
						</span>
						
						<span
							th:unless="${cat.name == 'Smartphone' OR cat.name == 'Tablet' OR cat.name == 'Laptop' OR 
							cat.name == 'Accessory' OR cat.name == 'iPad' OR cat.name == 'Smartphone Spares'}">
								<a th:href="@{'/admin/editCategory/'+${cat.id}}"> <span
								class="glyphicon glyphicon-edit"></span></a>
					</span>
						
						</td>
						<td>
						
						<span
							th:if="${cat.name == 'Smartphone' OR cat.name == 'Tablet' OR cat.name == 'Laptop' OR 
							cat.name == 'Accessory' OR cat.name == 'iPad' OR cat.name == 'Smartphone Spares'}">
								<a class="avoid-clicks" >
								 <span class="glyphicon glyphicon-trash"></span></a>
						</span>
						
						<span
							th:unless="${cat.name == 'Smartphone' OR cat.name == 'Tablet' OR cat.name == 'Laptop' OR 
							cat.name == 'Accessory' OR cat.name == 'iPad' OR cat.name == 'Smartphone Spares'}">
								<a  th:href="@{'/admin/deleteCategory/'+${cat.id}}"  >
								 <span class="glyphicon glyphicon-trash"></span></a>
						</span>
						
						</td>
					</tr>
				</table>
			</div>
		
		
		<script>
		$(document).ready(function() {
			$('#myTable').DataTable();
		});
	</script>
	
	</div>

</body>
</html>