<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/admin/layout/adminlayout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="context">
    <table class="table customers" border="2">
        <thead>
        <tr>
            <th>Id</th>
            <th>Mobile OS</th>
            <th>Dimension</th>
            <th>Price</th>
            <th>Color</th>
            <th>Other Description</th>
            <th>Instock Status</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="mob : ${mobile}">
            <td th:text="${mob.id}"></td>
            <td th:text="${mob.mobile_OS}"></td>
            <td th:text="${mob.dimension}"></td>
            <td th:text="${mob.price}"></td>
            <td th:text="${mob.color}"></td>
            <td th:text="${mob.otherDescription}"></td>
            <td th:text="${mob.inStock_status}"></td>
            <td><a onclick="return confirm('Are you sure to delete this item')">Delete</a></td>
            <td><a>Update</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>