<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css"
	th:href="@{/static/vendor/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/static/vendor/datatables/css/jquery.dataTables.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/static/vendor/font-awesome/css/font-awesome.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/static/css/main.css}" />


<script th:src="@{/static/vendor/datatables/js/jquery.js}"></script>
<script th:src="@{/static/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/static/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script
	th:src="@{/static/vendor/datatables/js/jquery.dataTables.min.js}"></script>

</head>
<body>


	<div class="sidenav">

		<h3 class="sidehead">Admin</h3>

		<button class="dropdown-btn">
			Category <i class="fa fa-caret-down"></i>
		</button>
		<div class="dropdown-container">
			<a href="#" th:href="@{/admin/createCategory}">Create Category</a> <a
				href="#" th:href="@{/admin/categorylist}">List of Category</a>
		</div>

		<button class="dropdown-btn">
			Brand <i class="fa fa-caret-down"></i>
		</button>
		<div class="dropdown-container">
			<a href="#" th:href="@{/admin/createBrand}">Create Brand</a> <a
				href="#" th:href="@{/admin/brandlist}">List of Brand</a>
		</div>

		<button class="dropdown-btn">
			Product <i class="fa fa-caret-down"></i>
		</button>
		<div class="dropdown-container">
			<a href="#" th:href="@{/admin/createProduct}">Create Product</a> <a
				href="#" th:href="@{/admin/proudctList}">List of Product</a>
		</div>
		
		
		
		
		
		<br/>
		<a class="dropdown-item" href="#logout"
								sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>

	</div>

	<div class="main">
		<div class="form-div top-padding">

			<div layout:fragment="admin-content">

				<h1>Admin page include :</h1>

				<h3>Store Inventory</h3>
				<p>- brand, category , and product</p>

				<h3>Security Access</h3>
				<p>- user , role</p>


			</div>


		</div>
	</div>



	<footer class="sticky-footer">
		<div class="container">
			<p style="text-align: center">
				Copyright &copy; Our-Website 2019 <a href="#ourprofile">
					Students Project (^_^) </a>
			</p>

		</div>
	</footer>


	<script>
		var dropdown = document.getElementsByClassName("dropdown-btn");
		var i;

		for (i = 0; i < dropdown.length; i++) {
			dropdown[i].addEventListener("click", function() {
				this.classList.toggle("active-nav-dropdown");
				var dropdownContent = this.nextElementSibling;
				if (dropdownContent.style.display === "block") {
					dropdownContent.style.display = "none";
				} else {
					dropdownContent.style.display = "block";
				}
			});
		}
	</script>



</body>
</html>
