<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css"
	th:href="@{/static/vendor/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/static/vendor/datatables/css/jquery.dataTables.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/static/vendor/font-awesome/css/font-awesome.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/static/css/main.css}" />


<script th:src="@{/static/vendor/datatables/js/jquery.js}"></script>
<script th:src="@{/static/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/static/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script
	th:src="@{/static/vendor/datatables/js/jquery.dataTables.min.js}"></script>


</head>
<body class="body-content">

 <div class="header-area top-container">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="user-menu">
                        <ul>
                            <li><a href="#my-account"><i class="fa fa-user"></i> My Account</a></li>
                            <li><a href="#wishlist"><i class="fa fa-heart"></i> Wishlist</a></li>
                            <li><a href="#cart"><i class="fa fa-user"></i> My Cart</a></li>
                            <li><a href="#checkout"><i class="fa fa-user"></i> Checkout</a></li>
                            <li><a href="#login"><i class="fa fa-user"></i> Login</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="header-right">
                        <ul class="list-unstyled list-inline">
                            <li class="dropdown dropdown-small">
                                <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span class="key">currency :</span><span class="value">USD </span><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">USD</a></li>
                                    <li><a href="#">MMK</a></li>
                                </ul>
                            </li>

                            <li class="dropdown dropdown-small">
                                <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span class="key">language :</span><span class="value">English </span><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">Myanmar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End header area -->
    
    
     
    <div  class="header" id="myHeader" ><div class="mainmenu-area"> 
        <div class="container">
            <div class="row">
               <!--  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div> --> 
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#home">Home</a></li>
                        <li><a href="#shop">Shop page</a></li>
                        <li><a href="#single-product">Single product</a></li>
                        <li><a href="#cart">Cart</a></li>
                        <li><a href="#checkout">Checkout</a></li>
                        <li><a href="#category">Category</a></li>
                        <li><a href="#others">Others</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>  
            </div>
        </div>
    </div></div> <!-- End mainmenu area -->
  
  <div class="content">
   <div class="container">
			<div layout:fragment="user-content"></div>
		</div>
  
  </div>  


	<footer class="sticky-footer">
		<div class="container">
			<p style="text-align: center">
				Copyright &copy; Our-Website 2019 <a href="#ourprofile">
					Students Project (^_^) </a>
			</p>

		</div>
	</footer>


<script>
window.onscroll = function() {myFunction()};

var header = document.getElementById("myHeader");
var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
</script>

</body>
</html>
