<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>ShoppingCart</title>
    <!--<link rel="stylesheet" href="../../../static/css/qunit.css" th:href="@{/static/css/qunit.css}" type="text/css" media="screen">-->

    <script src="http://swarm.simplecartjs.com/js/inject.js"></script>

</head>
<body>


<div class="container">
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-7">
            <a href="#" class="btn btn-light" th:href="@{/}">Continue Shopping</a>
            <a href="#" class="btn btn-light" th:href="@{/cart/removall}">Clear Card</a>
            <a href="#" class="btn btn-light" th:href="@{/cart/logincustomer}">Login</a>
            <a href="#" class="btn btn-light" th:href="@{/cart/checkout}">Check Out</a>
        </div>
    </div>
</div>
<br/>

<form method="post" action="@{/cart/update">

    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity<input type="submit" value="update"/></th>
        </tr>
        <tr th:each="c:${cartMobiles} ">
            <td th:text="${c.mobile_OS}"></td>
            <td th:text="${c.price}"></td>
            <td><input type="number" name="quantity" value="${c.quantity}" th:href="@{'/cart/update/'+${c.id}}"/></td>
        </tr>
        <tr th:each="a:${cartAccessories}">
            <td th:text="${a.mobile_type}"></td>
            <td th:text="${a.price_per_item}"></td>
            <td><input type="number" name="quantity" value="${a.total_instock_quantity}"
                       th:href="@{'/cart/update/'+${a.id}}"/></td>
        </tr>
    </table>


</form>

<br/>
Final Total: <span id="simpleCart_grandTotal" class="simpleCart_grandTotal" th:text="${total}"></span> <br/>

<a href="#" class="btn btn-light" th:href="@{/cart/checkout}">checkout</a>

</body>
</html>
