<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="#" th:action="@{accessoryType}" th:object="${accessory_type}" method="post">
    <div class="form-group">
        <label for="tname">Type Name</label>
        <input type="text" th:field="*{type_name}"
               class="form-control" name="tname" id="tname" aria-describedby="helpId" placeholder="">
        <small id="helpId" class="form-text text-muted">Help text</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>