<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table" border="2">
    <thead>
    <tr>
        <th>Id</th>
        <th>Brand Name</th>
        <th>Mobile Type</th>
        <th>Price per item</th>
        <th>Total instock quantity</th>
        <th>Instock status</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="acce :${accessory}">
        <td th:text="${acce.id}"></td>
        <td th:text="${acce.brand_name}"></td>
        <td th:text="${acce.mobile_type}"></td>
        <td th:text="${acce.price_per_item}"></td>
        <td th:text="${acce.total_instock_quantity}"></td>
        <td th:text="${acce.inStock_Status}"></td>

        <td><a th:href="@{'/accessory/delete/'+${acce.id}}" type="button">Delete</a></td>
        <td><a th:href="@{'/accessory/update/'+${acce.id}}" type="button">Update</a></td>
    </tr>
    </tbody>
</table>

</body>
</html>