<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
bs4-
<form action="#" th:action="@{authorize}" th:object="${authorized_table}" method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" th:field="*{name}"
               class="form-control" name="name" id="name" aria-describedby="helpId" placeholder="">

    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" th:field="*{password}"
               class="form-control" name="name" id="password" aria-describedby="helpId" placeholder="">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" th:field="*{email}"
               class="form-control" name="name" id="email" aria-describedby="helpId" placeholder="">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>