<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Product list</title>
</head>
<body>

<h3><a th:href="@{/home}">Back to Home Page</a></h3>| &nbsp;
<a th:href="@{/userInfo}">My Info</a>| &nbsp;
<a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>
    <br/>

    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-4"> <h4>Shopping Cart - Items</h4> </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4"><p><a th:href="@{/cart/removeAll}" type="button" class="btn btn-default">Remove Cart</a></p> </div>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive table-bordered">
                        <table class="table table-hover table-striped ">
                            <thead>
                            <t
                                <th>Item Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Remove one</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="c:${cartItemList}">

                                <td th:text="${c.mobileAccessory.itemName}"></td>
                                <td th:text="${c.quantity}"></td>
                                <td th:text="${c.price}"></td>
                                <td><a th:href="@{'/cart/remove/'+${c.itemId}}" type="button" class="btn btn-default">Remove From Cart</a></td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- /.table-responsive -->
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

</body>
</html>