<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Not Found</title>


<!--===============================================================================================-->
<link rel="icon" type="image/png"
	th:href="@{/assets//images/icons/favicon.ico}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets//vendor/bootstrap/css/bootstrap.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets//fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets//vendor/animate/animate.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets//vendor/css-hamburgers/hamburgers.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets//vendor/select2/select2.min.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets//css/util.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets//css/main.css}">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/vendor/datatable/css/jquery.dataTables.min.css}">
<!--===============================================================================================-->

</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404"></div>
			<h1 th:if="${statusCode} != 0" th:text="${statusCode}"></h1>
			<h2 th:if="${subtitle} != ''" th:text="${subtitle}"></h2>
			<p th:if="#{message} != ''" th:text="${message}"></p>
			<a th:href="@{/home}">Back to homepage</a>
		</div>
	</div>

</body>
<!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
