<!DOCTYPE HTML>
<html  lang="en"
       xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/userLayout">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<div layout:fragment="userlayout">

    <div class="container">
        <!-- /login?error=true -->
        <div th:if="${#request.getParameter('error') == 'true'}"
             style="color:red;margin:10px 0px;">
            Login Failed!!!<br />
            Reason :
            <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
                  th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
                Static summary
    </span>
        </div>

    </div>

    <div class="container">
        <br/>
        <br/>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" name='f' th:action="@{/j_spring_security_check}" method='POST'>
                            <fieldset>
                                <div class="form-group">
                                    <label>User:</label>
                                    <input class="form-control" placeholder="Name" name="username" type="text" autofocus>
                                </div>
                                <div class="form-group">
                                    <label>Password:</label>
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me?
                                    </label>
                                </div>
                                <input style="margin-left: 40%; margin-right: 40%" name="submit" type="submit" value="submit" class="btn btn-primary"></input>
                            </fieldset>

                        </form>
                    </div>
                    <div class="panel-footer">
                        <fieldset>
                            <p>New member? Please reigister <a name="" id="" class="btn btn-default" href="#" role="button" th:href="@{/register}">Here</a></p>
                        </fieldset>
                    </div>
                    <div class="panel-body">
                        <form>
                            <fieldset>
                                <div>
                                    <a href="#" style="color:white" id="facebook-button" class="btn btn-block btn-social btn-facebook">
                                        <i class="fa fa-facebook"></i> Sign in with Facebook
                                    </a>
                                </div>
                            </fieldset>
                            <br/>
                            <fieldset>
                                <div>
                                    <a href="#" style="color: white" id="google-button" class="btn btn-block btn-social btn-google">
                                        <i class="fa fa-google"></i> Sign in with Google
                                    </a>
                                </div>
                            </fieldset>
                        </form>
                    </div>

                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

    <br/>




    <footer>
        <div class="container">
            <br>
            <h4>Hello members! Hint for your logins.</h4>
            <ul>
                <li>Admin Account <ul><li>name : yournameadmin</li><li>pass : yourname</li></ul></li>
                <li>User Account <ul><li>name : yournameuser</li><li>pass : yourname</li></ul></li>
                <br/>
                <li><p style="color: orangered"> no cap & all samll & no space </p></li>
            </ul>

        </div>
    </footer>



</div>

</body>

</html>