<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register page</title>
</head>
<body>

<form th:action="@{/register/nextUser}" th:object="${appUser}" method="post">

    <h3>This is for login </h3>
    <div class="form-group">
        <label for="name">Username</label>
        <input type="text" th:field="*{userName}"
               class="form-control" name="username" id="name" aria-describedby="helpId" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="pw">Password </label>
        <input type="password" th:field="*{encrytedPassword}"
               class="form-control" name="password" id="pw" aria-describedby="helpId" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-default" th:href="@{/register/successRegister}">Next</button>

</form>

</body>
</html>