<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{paymentmethod}" th:object="${customerPaymentMethod}" method="post">
    <div class="form-group">
        <label for="ptype">Payment Type</label>
        <input type="text" th:field="*{payment_type}"
               class="form-control" name="" id="ptype" aria-describedby="helpId" placeholder="">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>