<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Info</title>
</head>
<body>

<h3><a th:href="@{/}">Home</a></h3>| &nbsp;
<a th:href="@{/userInfo}">My Info</a>| &nbsp;
<a th:href="@{/admin}">Admin</a>| &nbsp;
<a href="#" th:href="@{/logout}" th:if="${#request.userPrincipal != null}">Logout</a>

<h2>My Info Page</h2>
<h3>Welcome : <span th:utext="${#request.userPrincipal.name}"></span></h3>
<b>This is protected page!</b>

<br/><br/>

<div th:if="${userInfo != null}" th:utext="${userInfo}"></div>


</body>

</html>