<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Info</title>
</head>
<body>

<h3><a th:href="@{/}">Home</a></h3>| &nbsp;
<a th:href="@{/userInfo}">My Info</a>| &nbsp;
<a th:href="@{/admin}">Admin</a>| &nbsp;
<a href="#" onclick="signOut();" th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>


<h2>My Info Page</h2>
<h3>Welcome : <span th:utext="${#request.userPrincipal.name}"></span></h3>
<b>This is protected page!</b>

<br/><br/>

<div th:if="${userInfo != null}" th:utext="${userInfo}"></div>

<h1>Social</h1>
<div class="container" ng-show="home.authenticated">
    Logged in as: <span ng-bind="home.user"></span>
</div>
<div>
    <button ng-click="home.logout()" class="btn btn-primary">Logout</button>
</div>






<script type="text/javascript" src="/webjars/angularjs/angular.min.js"></script>
<script type="text/javascript">
    angular.module("app", []).controller("home", function($http) {
        var self = this;
        $http.get("/user").success(function(data) {
            self.user = data.userAuthentication.details.name;
            self.authenticated = true;
        }).error(function() {
            self.user = "N/A";
            self.authenticated = false;
        });
        self.logout = function() {
            $http.post('/logout', {}).success(function() {
                self.authenticated = false;
                $location.path("/");
            }).error(function(data) {
                console.log("Logout failed")
                self.authenticated = false;
            });
        };
    });
</script>
</body>

</html>